.btn.primary {
  background-color: var(--green1);
  color: var(--white1);
}

.btn.primary:hover {
  scale: 1.05;
  transition: all 0.3s;
}

.btn.secondary {
  background-color: var(--white-primary);
  color: var(--green-primary);
}

.btn.secondary:hover {
  scale: 1.05;
  transition: all 0.3s;
  background-color: var(--white-primary-dark);
}
