.presta1 {
  background: url('../../assets/images/presta1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.presta2 {
  background: url('../../assets/images/presta2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.presta3 {
  background: url('../../assets/images/presta3.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.presta4 {
  background: url('../../assets/images/presta4.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
