---
import RightArrow from '../svg/RightArrow.astro'
import CustomBtn from '@/components/utils/CustomButton.astro'
---

<div
  class="w-full h-[85vh] flex items-center justify-center px-5 md:h-[90vh] md:px-14 lg:px-28"
>
  <div class="h-full w-full flex flex-col mt-24 md:mt-64">
    <div
      class="h-auto w-full flex justify-center flex-col gap-y-5 md:max-w-[670px] md:gap-y-10"
    >
      <p
        class="text-white text-[40px] font-extrabold md:text-5xl md:leading-16"
      >
        Optimisez la performance énergétique de votre patrimoine
      </p>
      <p class="text-[var(--white-85)] text-md font-light md:text-xl">
        Notre expertise est à votre service pour vous accompagner dans, la
        réduction de vos coûts énergétiques, l'amélioration de votre empreinte
        et la valorisation de votre patrimoine.
      </p>
      <div class="h-auto w-full flex flex-col gap-y-3">
        <CustomBtn text="Nos prestations" link="a-propos" className="primary">
          <RightArrow />
        </CustomBtn>
        <p class="text-[var(--white-75)] text-sm font-light">
          Decouvez maintenant nos prestations !
        </p>
      </div>
    </div>
  </div>
</div>
