---
import RightArrow from '../svg/RightArrow.astro'
import TreeXHome from '../svg/TreeXHome.astro'
import CustomButton from '../utils/CustomButton.astro'
import localPrestationSectionImage from '../../assets/images/presation-section.webp'
import View from '../utils/View.astro'
import ImageRowText from '../utils/ImageRowText.astro'
---

<View>
  <ImageRowText image={localPrestationSectionImage}>
    <TreeXHome />
    <p class="text-3xl font-bold">Nos services pour vous !</p>
    <p class="text-[16px] max-w-[550px]">
      Nos equipes travailles pour vous, venez decouvrire nos secteurs d’activité
      ! Nosu sommes present sur les habitat individuel, collectif, les immeubles
      tertiaires ainsi que les batiments institutionnels et collectivités.
    </p>
    <CustomButton
      text="Decouvrez nos prestations "
      link="prestations"
      className="primary"
    >
      <RightArrow />
    </CustomButton>
  </ImageRowText>
</View>
