---
import RightArrow from '../svg/RightArrow.astro'
import TreeXHome from '../svg/TreeXHome.astro'
import CustomButton from '../utils/CustomButton.astro'
---

<div
  class="w-full h-auto flex flex-col px-5 py-20 gap-y-5 md:max-h-[624px] md:flex-row md:justify-center"
>
  <div class="flex md:justify-center px-4 md:w-1/2">
    <img
      src="/images/blue-and-orange-building.png"
      alt="building"
      class="h-auto w-auto max-h-[432px]"
    />
  </div>
  <div
    class="flex flex-col mt-5 gap-y-6 px-4 md:w-1/2 md:gap-y-8 md:justify-center md:mt-0"
  >
    <TreeXHome />
    <p class="text-3xl font-bold">Nos services pour vous !</p>
    <p class="text-[16px] max-w-[550px]">
      Nos equipes travailles pour vous, venez decouvrire nos secteurs d’activité
      ! Nosu sommes present sur les habitat individuel, collectif, les immeubles
      tertiaires ainsi que les batiments institutionnels et collectivités.
    </p>
    <CustomButton
      text="Decouvrez nos prestations "
      link="prestations"
      className="primary"
    >
      <RightArrow />
    </CustomButton>
  </div>
</div>
