---
import StatCard from '../../components/stat/StatCard.astro'
import RightArrow from '../svg/RightArrow.astro'
import CustomButton from '../utils/CustomButton.astro'
---

<div class="w-full h-auto flex flex-col pt-18">
  <div
    class="w-full h-full flex flex-col items-center justify-evenly gap-y-10 md:flex-row md:flex-wrap md:gap-x-3"
  >
    <StatCard
      title="Chiffre d'affaire"
      content="322k"
      subText="Comparé à 2024"
    />
    <StatCard
      title="Partenaires actifs"
      content="31"
      subText="+200% Comparé à l’an dernier"
    />
    <StatCard
      title="Missions"
      content="182"
      subText="+22 Comparé à l’an dernier"
    />
  </div>
  <div class="flex w-full justify-center items-center h-24 md:h-32">
    <CustomButton text="Plus de chiffres" link="a-propos" className="primary">
      <RightArrow />
    </CustomButton>
  </div>
</div>
