---
import StatCard from '../../components/stat/StatCard.astro'
---

<div class="w-full h-screen flex flex-col">
  <div
    class="w-full h-1/8 flex justify-center pt-12 items-center text-sm md:text-lg lg:h-3/8 lg:text-2xl lg:pt-50"
  >
    <span
      class="text-[3rem] font-bold mr-1 pb-6 green-gradient lg:text-9xl lg:mr-2 lg:pb-10"
      >ENERGIA</span
    >
    en quelques chiffres..
  </div>
  <div
    class="w-full h-7/8 flex flex-wrap items-center justify-center px-10 gap-3 lg:h-5/8 gap-x-5 lg:gap-15 xl:gap-x-20"
  >
    <StatCard
      title="Chiffre d'affaire"
      content="322k"
      subText="Comparé à 2024"
    />
    <StatCard
      title="Partenaires actifs"
      content="31"
      subText="+200% Comparé à l’an dernier"
    />
    <StatCard
      title="Missions"
      content="182"
      subText="+22 Comparé à l’an dernier"
    />
  </div>
</div>
