---
import StatCard from '@/components/landing/stat/StatCard.astro'
import RightArrow from '@/components/svg/RightArrow.astro'
import CustomButton from '@/components/utils/CustomButton.astro'
---

<div class="w-full h-auto flex flex-col">
  <div
    class="w-full h-full flex flex-col items-center justify-evenly gap-y-10 pt-18 bg-[#F9F9F9] md:flex-row md:flex-wrap md:gap-x-3 md:px-16"
  >
    <StatCard
      title="Chiffre d'affaire"
      content="322k"
      subText="Comparé à 2024"
    />
    <StatCard
      title="Partenaires actifs"
      content="31"
      subText="+200% Comparé à l’an dernier"
    />
    <StatCard
      title="Missions"
      content="182"
      subText="+22 Comparé à l’an dernier"
    />
    <div class="flex w-full justify-center items-center h-24 md:h-32">
      <CustomButton text="Plus de chiffres" link="a-propos" className="primary">
        <RightArrow />
      </CustomButton>
    </div>
  </div>
</div>
