<ul class="flex w-xl justify-evenly">
  <li>
    <a href="#" class="text-black regular-text hover:underline">Accueil</a>
  </li>
  <li>
    <a href="#" class="text-black regular-text hover:underline">À propos</a>
  </li>
  <li>
    <a href="#" class="text-black regular-text hover:underline"
      >Nos prestation</a
    >
  </li>
  <li>
    <a href="#" class="text-black regular-text hover:underline"
      >Nous contacter</a
    >
  </li>
</ul>
