<ul class="flex w-2xl justify-evenly">
  <li>
    <a href="/" class="text-dark-primary regular-tex text-16 hover:underline"
      >Accueil</a
    >
  </li>
  <li>
    <a
      href="/a-propos"
      class="text-dark-primary regular-text text-16 hover:underline">À propos</a
    >
  </li>
  <li>
    <a
      href="/prestations"
      class="text-dark-primaryregular-text text-16 hover:underline"
      >Nos prestation</a
    >
  </li>
  <li>
    <a
      href="/contact"
      class="text-dark-primary regular-text text-16 hover:underline"
      >Nous contacter</a
    >
  </li>
</ul>
