---
import SwapButtonMenu from '../../components/menu/SwapButtonMenu.astro'
import DesktopMenu from './../menu/DesktopMenu.astro'
import MobileMenu from './../menu/MobileMenu.astro'
---

<!-- Desktop menu -->
<div
  class="bg-white w-full h-28 flex justify-center items-center relative top-0"
>
  <div class="flex justify-between w-5/6 items-center">
    <div>
      <a href="#">
        <img src="/images/energia-logo.png" alt="energia-logo" class="logo" />
      </a>
    </div>
    <div class="hidden lg:flex">
      <DesktopMenu />
    </div>
    <div class="lg:hidden">
      <SwapButtonMenu />
    </div>
  </div>
</div>

<!-- Mobile menu -->
<div class="bg-white w-full h-full hidden transition-all" id="burger-menu">
  <MobileMenu />
</div>
