---
import EnergiaFullLogo from '../svg/EnergiaFullLogo.astro'
import DesktopMenu from './../menu/DesktopMenu.astro'
import MobileMenu from './../menu/MobileMenu.astro'
---

<!-- Desktop menu -->
<div class="bg-white w-full h-auto flex justify-center">
  <div class="w-full h-auto flex max-size px-8 py-4 md:py-6 md:px-16">
    <div
      class="w-full h-auto flex items-center justify-center lg:justify-between"
    >
      <EnergiaFullLogo />
      <div class="hidden lg:flex">
        <DesktopMenu />
      </div>
      <div class="flex lg:hidden">
        <MobileMenu />
      </div>
    </div>
  </div>
</div>
