---
import NewYear from '../svg/NewYear.astro'
---

<div class="flex flex-col items-center pt-11 h-full">
  <ul class="flex flex-col w-full items-start gap-8 pt-16 pl-8 pr-8">
    <li>
      <a href="#">
        <p class="regular-text text-2xl medium-text text-green-primary">
          Accueil
        </p>
        <p class="text-gray-500 text-sm">
          Retrouvez toutes nos informations !
        </p></a
      >
    </li>
    <li>
      <a href="##">
        <p class="regular-text text-2xl medium-text text-green-primary">
          À propos
        </p>
        <p class="text-gray-500 text-sm">Notre histoire !</p></a
      >
    </li>
    <li>
      <a href="###"
        ><p
          class="flex items-center regular-text text-2xl medium-text text-green-primary"
        >
          Nos prestations
        </p>
        <p class="text-gray-500 text-sm">Découvrez nos services !</p></a
      >
    </li>

    <li>
      <a href="####"
        ><p class="regular-text text-2xl medium-text text-green-primary">
          Nous contacter
        </p>
        <p class="text-gray-500 text-sm">
          Contactez-nous pour plus d'informations !
        </p></a
      >
    </li>
  </ul>
  <div class="absolute bottom-8">
    <NewYear />
    <p class="text-sm text-gray-400 text-center">Energia consulting - 2025</p>
  </div>
</div>
