---
import '../../styles/components/stat-card.css'

type StatCardProps = {
  title: string
  content: string
  subText: string
}

const { title, content, subText } = Astro.props as StatCardProps
---

<div
  class="flex flex-col w-full bg-[#EFEFEFd4] h-52 pl-10 rounded-xl md:w-md lg:h-64"
>
  <div class="h-3/9 w-full flex items-end text-2xl lg:text-3xl">{title}</div>
  <div
    class="h-4/9 w-full flex items-center text-7xl font-extrabold green-gradient lg:text-8xl"
  >
    {content}
  </div>
  <div
    class="h-2/9 w-full flex items-start text-sm text-dark-primary-transparent lg:text-lg"
  >
    {subText}
  </div>
</div>
