---
type StatCardProps = {
  title: string
  content: string
  subText: string
}

const { title, content, subText } = Astro.props as StatCardProps
---

<div class="flex flex-col w-[347px] h-[186px] bg-[#F4F4F4] pl-10 rounded-xl">
  <div class="h-3/9 w-full flex items-end text-3xl">{title}</div>
  <div
    class="h-4/9 w-full flex items-center text-5xl font-extrabold green-gradient"
  >
    {content}
  </div>
  <div
    class="h-2/9 w-full flex items-start text-md text-dark-primary-transparent lg:text-lg"
  >
    {subText}
  </div>
</div>
