@import 'tailwindcss';
@plugin "daisyui" {
  themes: light --default;
}
@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: 'Nunito', sans-serif;
}

.light-text {
  font-weight: 300;
}

.regular-text {
  font-weight: 400;
}

.medium-text {
  font-weight: 500;
}

.bold-text {
  font-weight: 700;
}

.extra-bold-text {
  font-weight: 800;
}

.green-gradient {
  color: linear-gradient(90deg, var(--green-primary), var(--green-secondary));
}

.bg-green-gradient {
  background: linear-gradient(
    270deg,
    var(--green-primary),
    var(--green-secondary)
  );
}

:root {
  --green-primary: #30a777;
  --green-primary-dark: #2a946a;
  --green-secondary: #217553;
  --white-primary: #ffffff;
  --white-primary-dark: #efefef;
  --white-primary-light-transparent: rgba(255, 255, 255, 0.75);
  --dark-primary: #1a1a1a;
  --dark-primary-transparent: rgba(56, 56, 56, 0.623);
  --dark-secondary: #333333;
}
@layer utilities {
  .text-green-primary {
    color: var(--green-primary);
  }

  .text-green-primary-dark {
    color: var(--green-primary-dark);
  }

  .text-green-secondary {
    color: var(--green-secondary);
  }

  .text-white-primary {
    color: var(--white-primary);
  }

  .text-white-primary-light-transparent {
    color: var(--white-primary-light-transparent);
  }

  .text-white-primary-dark {
    color: var(--white-primary-dark);
  }

  .text-white-primary-transparent {
    color: var(--white-primary-light-transparent);
  }

  .text-dark-primary {
    color: var(--dark-primary);
  }

  .text-dark-primary-transparent {
    color: var(--dark-primary-transparent);
  }

  .text-dark-secondary {
    color: var(--dark-secondary);
  }

  .bg-green-primary {
    background-color: var(--green-primary);
  }

  .bg-green-primary-dark {
    background-color: var(--green-primary-dark);
  }

  .bg-green-secondary {
    background-color: var(--green-secondary);
  }

  .bg-white-primary {
    background-color: var(--white-primary);
  }

  .bg-white-primary-dark {
    background-color: var(--white-primary-dark);
  }

  .bg-dark-primary {
    background-color: var(--dark-primary);
  }

  .bg-dark-secondary {
    background-color: var(--dark-secondary);
  }
}
