@import 'tailwindcss';
@plugin "daisyui" {
  themes: light --default;
}
@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

body {
  font-family: 'Nunito', sans-serif;
}

.green-gradient {
  color: linear-gradient(90deg, var(--green-primary), var(--green-secondary));
}

.bg-green-gradient {
  background: linear-gradient(
    270deg,
    var(--green-primary),
    var(--green-secondary)
  );
}

:root {
  --green1: #30a777;
  --green2: #217553;
  --white1: #f9f9f9f9;
  --white-85: rgba(249, 249, 249, 0.85);
  --white-75: rgba(249, 249, 249, 0.75);
  --dark: rgb(26, 26, 26);
  --dark-60: rgba(26, 26, 26, 0.6);
}
@layer utilities {
  /* Notes : font size */
  /* .text-14 {
    font-size: 14px;
  }
  .text-16 {
    font-size: 16px;
  }
  .text-20 {
    font-size: 20px;
  }
  .text-24 {
    font-size: 24px;
  }
  .text-32 {
    font-size: 32px;
  }
  .text-36 {
    font-size: 36px;
  }
  .text-40 {
    font-size: 40px;
  }
  .text-48 {
    font-size: 48px;
  } */

  /* Notes : fopnt weight */
  .light-text {
    font-weight: 300;
  }
  .regular-text {
    font-weight: 400;
  }
  .medium-text {
    font-weight: 500;
  }
  .bold-text {
    font-weight: 700;
  }
  .extra-bold-text {
    font-weight: 800;
  }
}
