@import 'tailwindcss';
@plugin "daisyui" {
  themes: light --default;
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito-ExtraBold';
  src: url('/fonts/Nunito-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

:root {
  --green-primary: #30a777;
  --green-secondary: #217553;
  --white-primary: #ffffff;
}
