@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Nunito";
}

.btn {
  @apply rounded-full bg-green-500 text-white;
}
