.landing-bg {
  background: url('../assets/images/background.png');
  background-size: cover; /* L'image prend tout l'espace et garde ses proportions */
  background-position: center; /* Centre l'image */
  background-repeat: no-repeat; /* Empêche la répétition de l'image */
  width: 100vw; /* Prend toute la largeur de l'écran */
  height: 100vh; /* Prend toute la hauteur de l'écran */
  margin: 0; /* Supprime les marges par défaut */
  padding: 0;
}
/* w-233px h-70px */
.logo {
  min-width: 155px; /* 233px / 1.5 */
  min-height: 46px; /* 70px / 1.5 */
  height: 46px;
  width: 155px;
}

.title {
  font-family: 'Nunito-ExtraBold';
  color: #fff;
  font-size: 72px;
  padding: 10px;
  @apply w-3/4;
  @media (width <= 48rem) {
    font-size: 40px;
    line-height: 45px;
    @apply w-4/5;
  }
}

.sub-title {
  font-family: 'Nunito';
  color: #ffffff95;
  font-size: 22px;
  padding: 10px;
  @apply w-3/4;
  @media (width <= 48rem) {
    font-size: 14px;
    @apply w-4/5;
  }
}
