---
import Layout from '@/layouts/Layout.astro'
import CustomBtn from '@/components/utils/CustomButton.astro'
---

<Layout>
  <div
    class="w-full h-screen flex items-center justify-center flex-col gap-y-5"
  >
    <p class="font-extrabold text-2xl md:text-4xl lg:text-6xl">
      Page introuvable ...
    </p>
    <CustomBtn text="Retour à l'accueil" link="/" className="primary" />
  </div>
</Layout>
