---
import Menu from '../components/Menu.astro'
import Layout from '../layouts/Layout.astro'
import '../styles/global.css'
import '../styles/landing.css'
import '../styles/components/btn.css'
import CustomBtn from '../components/utils/CustomButton.astro'
import CustomButton from '../components/utils/CustomButton.astro'

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <div class="w-full h-screen landing-bg bg-cover bg-center">
    <Menu />
    <div
      class="w-full h-full flex items-center justify-center pl-4.5 pr-4.5 md:pl-14 lg:pl-28"
    >
      <div class="h-full w-full flex flex-col pt-40 md:justify-center md:pt-0">
        <p
          class="text-4xl text-white font-extrabold max-w-lg md:text-5xl md:w-2xl md:leading-16 lg:text-7xl lg:w-4xl lg:leading-20"
        >
          Optimisez la performance énergétique de votre patrimoine
        </p>
        <p
          class="text-sm text-gray-300 mt-4 max-w-lg md:mt-8 md:text-lg md:w-2xl lg:text-xl lg:w-5xl"
        >
          Notre expertise est à votre service pour vous accompagner dans, la
          réduction de vos coûts énergétiques, l'amélioration de votre empreinte
          et la valorisation de votre patrimoine
        </p>
        <div
          class="flex flex-col w-48 mt-4 gap-4 md:flex-row md:w-3/4 md:mt-16 lg:mt-8"
        >
          <CustomButton text="À propos" className="primary">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="38"
              height="38"
              viewBox="0 0 24 24"
              ><path
                fill="currentColor"
                d="m13.692 17.308l-.707-.72l4.088-4.088H5v-1h12.073l-4.088-4.088l.707-.72L19 12z"
              ></path></svg
            >
          </CustomButton>

          <CustomButton text="Nos prestations ouai oaui" className="secondary">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="38"
              height="38"
              viewBox="0 0 24 24"
              ><path
                fill="currentColor"
                d="M17.616 18.885h.769v-2.5h2.5v-.77h-2.5v-2.5h-.77v2.5h-2.5v.77h2.5zM18 20q-1.671 0-2.835-1.164Q14 17.67 14 16t1.165-2.835T18 12t2.836 1.165T22 16t-1.164 2.836T18 20M5 18V7.5l7-5.288L19 7.5v1.82q-.244-.055-.492-.072T18 9.231V8l-6-4.538L6 8v9h5.306q.032.263.095.513t.159.487zm7-7.77"
              ></path></svg
            >
          </CustomButton>
        </div>
      </div>
    </div>
  </div>
</Layout>
