---
import SwapButtonMenu from '../components/utils/SwapButtonMenu.astro'
---

<div
  class="bg-white w-full h-24 flex justify-center items-center absolute top-0"
>
  <div class="flex justify-between w-5/6 items-center">
    <div>
      <a href="#">
        <img
          src="src/assets/images/energia-logo.png"
          alt="energia-logo"
          class="logo"
        />
      </a>
    </div>
    <div class="hidden md:flex">
      <ul class="flex w-xl justify-evenly">
        <li>
          <a href="#" class="text-black regular-text hover:underline">Accueil</a
          >
        </li>
        <li>
          <a href="#" class="text-black regular-text hover:underline"
            >À propos</a
          >
        </li>
        <li>
          <a href="#" class="text-black regular-text hover:underline"
            >Nos prestation</a
          >
        </li>
        <li>
          <a href="#" class="text-black regular-text hover:underline"
            >Nous contacter</a
          >
        </li>
      </ul>
    </div>
    <div>
      <SwapButtonMenu />
    </div>
  </div>

  <!-- </div> -->
</div>

<style></style>
