---
import SwapButtonMenu from '../components/menu/SwapButtonMenu.astro'
import DesktopMenu from './menu/DesktopMenu.astro'
import MobileMenu from './menu/MobileMenu.astro'
---

<!-- Desktop menu -->
<div
  class="bg-white w-full h-24 flex justify-center items-center absolute top-0"
>
  <div class="flex justify-between w-5/6 items-center">
    <div>
      <a href="#">
        <img
          src="src/assets/images/energia-logo.png"
          alt="energia-logo"
          class="logo"
        />
      </a>
    </div>
    <div class="hidden md:flex">
      <DesktopMenu />
    </div>
    <div class="md:hidden">
      <SwapButtonMenu />
    </div>
  </div>
</div>

<!-- Mobile menu -->
<div class="bg-white w-full h-full hidden transition-all" id="burger-menu">
  <MobileMenu />
</div>
