---
type WeSubSectionProps = {
  title: string
  content: string
}

const { title, content } = Astro.props as WeSubSectionProps
---

<div
  class="flex flex-col items-center max-w-36 py-3 px-2 md:py-5 md:max-w-56 md:gap-y-2"
>
  <div class="bg-[#30a7774d] rounded-2xl h-10 w-10 flex md:h-12 md:w-12"></div>
  <div class="flex flex-col">
    <p class="text-md font-bold text-center">{title}</p>
    <p class="text-sm text-center">{content}</p>
  </div>
</div>
