---
import '@/styles/global.css'
import Footer from '@/components/utils/Footer.astro'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Energia Consulting</title>
  </head>
  <body class="flex flex-col w-screen h-full items-center justify-center">
    <slot />
  </body>
</html>

<style></style>
