---
import '../../styles/components/btn.css'

type ButtonProps = {
  text: string
  className: string
}

const { text, className } = Astro.props as ButtonProps
---

<button
  class={`btn ${className} flex items-center justify-center rounded-full border-none shadow-none  py-6 w-fit  whitespace-nowrap font-normal lg:h-14 lg:text-lg`}
>
  <p class="pl-2">{text}</p>
  <slot />
</button>
<!-- rounded-full border-none shadow-none   text-lg -->
