---
type tagProps = {
  text: string
}

const { text } = Astro.props as tagProps
---

<div
  class="flex justify-center items-center px-4 py-1 bg-green-gradient rounded-full md:px-7 md:py-1.5"
>
  <p class="text-white text-xs md:text-base">{text}</p>
</div>
